/* цвет основного текста #2E2F42;*/
/* цвет вторичного текста #434455;*/
/* цвет акцентный  #4D5AE5;*/
/* цвет белый #ffffff;*/

/* первичный цвет фона #E5E5E5;*/
/* вторияный цвет фона  #F4F4FD;*/
/* фон flooter #2E2F42;*/

:root{
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --primary-accent-color:#4D5AE5;
    --white-color:#ffffff;
    --footer-text-color:#E7E9FC;
    --primary-background-color:#E5E5E5;
    --secondary-backgrountd-color:#F4F4FD;
    --footer-background-color:#2E2F42;
    --secondary-accent-color:#404BBF;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
}   

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color)
    background-color: var(--white-color);
}

.list{
    list-style: none;
}


.link{
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus,
.link.current{
    color: var(--secondary-accent-color)
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*   --------- HEADER ----------   */

.web{
    color:var(--primary-accent-color)
}

.logo{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-text-color);
}
.site-nav{
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
.auth-nav{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.auth{
    margin-left: auto;
}

.site-item:not(:first-child) {
    margin-left: 40px;
}

.auth-item +.auth-item {
    margin-left: 40px;
}
.logo-site{
    display: flex;
    align-items: center;
}
.header-line{
    border-bottom: 1px solid var(--footer-text-color);
}

.nav-container{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
/*   -------  HERO   -------   */
.button {
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-accent-color);
}

.button:hover,
.button:focus {
    background-color: var(--secondary-accent-color);
}

.pointer {
    cursor: pointer;
}

.hero{    
    padding-bottom: 188px;
    text-align: center;
    background-color: var(--footer-background-color);    
}

.hero-title {
    max-width: 494px;
    padding-top: 188px;
    padding-bottom: 48px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;    
    letter-spacing: 0.02em;
    color: var(--white-color);
}

/*   -------  SECTION common   -------   */

.section-title{
    padding-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.headline{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/*   -------  FEATURE   -------   */

.feature{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;

}

.feature-list{
    padding-bottom: 8px;
}
.feature-items+.feature-items{
    padding-left: 24px;
}

/*   -------  WORKS   -------   */

.works-list{
    display: flex;
    padding-bottom: 120px;
    gap: 24px;
}

/*   -------  TEAMS   -------   */
.teams{
    background-color: var(--secondary-backgrountd-color);
}
.team{
    padding-top: 120px;
}
.teams-list{
    display: flex;
    padding-bottom: 120px;
    gap: 24px;
}


.teams-items{
    border: 1px solid var(--footer-text-color);
    border-radius: 0px 0px 4px 4px;
}
.item-team{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    background-color: var(--white-color);
}
.teams-subject{
    padding-bottom: 8px;
}
.title{
    /*font-weight: 400;*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
footer{
    background-color: var(--footer-background-color);    
}
.footer-logo{    
    font-family: 'Raleway';sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--white-color);
}

.footer-text{
    width: 264px;
    margin-top: 6px;
    padding-bottom: 100px;
    color: var(--white-color);
    /*font-weight: 400;*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-list{
    padding-top: 100px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Portfolio*/

.button-portfo{
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    color: var(--primary-accent-color);
    background-color: var(--secondary-backgrountd-color);
}

.button-portfo:hover,
.button-portfo:focus{
    color: var(--white-color);
    background-color: var(--secondary-accent-color);
}
.portfo-list{
    display: flex;
    justify-content: center;
    padding-top: 96px;
}

.portfo-btn+.portfo-btn{
    margin-left: 24px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 72px;
}

.gallery-item{
    padding-top: 32px;
    border: 1px solid var(--footer-text-color);
}
.gallery-subject{
    padding-bottom: 8px;
}

.gallery-text{
    padding-left: 16px;
}
.gallery-subject{
    padding-left: 16px;
}
.gallery-items:nth-last-child(-n + 3){
    padding-bottom: 120px;
}
.logo-link{
    text-decoration: none;
}